<!DOCTYPE html>
<html>
<head>

  <link href="/assets/out.css?body=1" media="all" rel="stylesheet" type="text/css">

</head>
<body id='closeout'>
  <div class='tucson'>
    <h1>You have successfully logged out...</h1>
    <h2>One last thing though....</h2>
  </div>
    <div class='countdown-container'>
      <div id='countdown'>
        5
      </div>
      <div class='offer'>
        <h2> 10% off at Studio Tucson</h2><br>
        <h3>Studio Tucson is proud to be a part of your neighborhood.  Mention 'ShopNextDoor' and receive a 10% discount on all haircuts.</h3>
        <h3> Proud resident of North Beach/Telegraph Hill,<h3>
        <h3>Cass Corbin</h3>
      </div>
      <span class="cover"></span>
    </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script>

  var i = 5
  ryobb = setInterval(function(){
    $('#countdown').html(i)
    i--
    if (i<0){
      clearInterval(ryobb);
      $('#countdown').addClass('zero')
      showOffer()
    }
  }, 1000)

  var showOffer = function(){
    $('.offer').addClass('show')
  }




  </script>

</body>
</html>