<div class='choice-listing'>
  <div class='row'>
    <div class='span6'>
      <div class='choice-text'>
        <%= form_tag('temp_path', :class => 'choice_vote', :remote => true) do %>
        <%= label_tag(:choice, "content") %>
      </div>
    </div>
    <div class='span3'>
      <div class='choice-vote-count'>
       <%= label_tag(:choice, "Votes:", :class => 'vote_count') %>
      </div>
    </div>
    <div class='span3'>
      <div class='choice-vote'>
        <%= submit_tag("I Want This") %>
      </div>
    </div>
  <% end %>
  </div>
</div>
