<div class="container" id="splash">
  <div class="masthead">
    <h1> Imagine </h1>
  </div>
  <div class='row-fluid'>
    <div class='container'>
      <%= render 'users/user_signin_form', :user => @user %>
      <%= render 'users/user_form', :user => @user %>
    </div>
  </div>
</div>