

<div class="container" id="splash">
<div class='container' id='store-slider'>
    <div class='slider-container'>
      <ul class="stores">
        <li id="store-coffee" class='store-pic'>
          <img src='assets/storefront-coffee.gif' />
        </li>
        <li id="store-pizza" class='store-pic'><img src='assets/storefront-pizza.gif' />
        </li>
        <li id="store-drugstore" class='store-pic'>
          <img src='assets/storefront-drugstore.gif' />
        </li>
        <li id="store-yoga" class='store-pic'>
          <img src='assets/storefront-yoga.gif' />
        </li>
      </ul>
    </div>
  </div>

<% if current_user %>
    <h3 id='welcome-hood'><%= link_to 'Take me to my Neighborhood', neighborhood_path(current_user.neighborhoods.first.id)%></h3>
  <% end %>

    <h3>The power to choose the next business in your neighborhood.</h3>
    <h1>Our Backyard.</h1>

  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
</div>

<% if !current_user %>
<div class='row-fluid'>
  <div class='container'>
    <%= render 'users/user_signin_form', :user => @user %>
    <%= render 'users/user_form', :user => @user %>
  </div>
</div> 
<% end %>


