


<div class='front-page'
  <ul class='imagine'>
    <li><strong>Imagine.</strong></li>
  </ul>
</div>


  <ul class='power'>
    <li>The power to choose your <strong>ShopNextDoor</strong></li>
  </ul>

<div class = 'later'>
   <ul class='log-in'>
    <li id='log-in'><a href="#">Log In</a></li>
    <li id='sign-up1'><a href="#">Sign Up</a></li>
  </ul>  
</div>

<div class='hidden' id='sign-up-form'>
  <%= render 'users/user_form', :user => @user %>
</div>

<div class='hidden' id='log-in-form'>
  <%= render 'users/user_signin_form', :user => @user %>
</div>





