<div class="container" id="splash">
  <h1>Imagine.</h1>
  <div class='container' id='store-slider'>
    <div class='slider-container'>
      <ul class="stores">
        <li id="store-coffee" class='store-pic'>
          <h1>coffee</h1>
        </li>
        <li id="store-pizza" class='store-pic'>
          <h1>pizza</h1>
        </li>
        <li id="store-drugstore" class='store-pic'>
          <h1>drugstore</h1>
        </li>
        <li id="store-yoga" class='store-pic'>
          <h1>yoga</h1>
        </li>
      </ul>
    </div>
  </div>
    <h3>The power to choose the next business in your neighborhood.</h3>
    <h1>Our Backyard.</h1>

  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
  
</div>
<div class='row-fluid'>
  <div class='container'>
    <%= render 'users/user_signin_form', :user => @user %>
    <%= render 'users/user_form', :user => @user %>
  </div>
</div>
