<div class='container' id='store-slider'>
  <div class='slider-container'>
    <ul class="stores">
      <li id="store-coffee" class='store-pic'>
        <h1>coffee</h1>
      </li>
      <li id="store-pizza" class='store-pic'>
        <h1>pizza</h1>
      </li>
      <li id="store-bar" class='store-pic'>
        <h1>bar</h1>
      </li>
      <li id="store-yoga" class='store-pic'>
        <h1>yoga</h1>
      </li>
    </ul>
  </div>
</div>