
.form-horizontal textarea {
  height: 150px;
  
}

html {
  height: 100%
}

body {
  clear:both;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FCFCFC
}


.breadcrumb {
  background-color: #f7f2e4;
}

.subtitle {
  font-style: italic;
  font-size: 24px;
  color: #055208
}

.subhead {
  color: #9FE07E  
}

#spacer {
  height: 60px;
  line-height: 60px
}

.listing-form {
 padding-left: 3em;
 margin-top: 4em;
}

.masthead {
  padding-top: 70px;
}

.navbar .navbar-inner {
  background-image: none;
  background-color: #324785;
  opacity: .9;
}

.navbar .nav > li > a {
  color: white;
  font-size: 18px;
}

.navbar .nav > li > a:hover {
  color: gray;
}

#profile-pic {
  background-image: url('placeholder.png');
  height: 200px;
  width: 100%;
}

.profile {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.sub-box {
  padding: 3px 5px 5px;
  margin: 2px 4px 2px 4px;  
  background-color: #EDE8EA;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.sub-box .span5 {
  margin-top: 20px;
}

.sub-box .span2, .span3 {
  margin-top: 20px;
}

.sub-box-clear {

  padding: 0px 0px 0px;
  margin: 2px 4px 2px 4px;  
  background-color: #fff;
  border: 7px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.sub-box-clear .span6 {
  margin: 20px;
}

.sub-box-clear .span2 {
  margin: 20px;
}

.backyard-box {  
  
  padding: 19px 29px 29px;
  margin: 10px 1px 1px 1px;  
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

#listing, #choice, #comment {
  
  /*max-width: 300px;*/
  padding: 19px 29px 29px;
  margin: 10px 20px 10px 20px;  
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
 
#listing-description, #listing-title, #listing-image {
  float: left;
}


#map-canvas { 
  float: right;
  height: 500px; 
  width: 500px;
  border: 1px solid #ccc;
  padding: 19px 29px 29px;
  margin: 0 auto 20px
}

#map-canvas img { 
  max-width: none;
}

#map-canvas label { 
  width: auto; display:inline; 
} 

.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 0 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
