#comment-box textarea {
  height: 40px;
  width: 100%;
}
.comment {
  border-radius: 2px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
}

.comment .subhead {
  font-size: 2em;
}

#comment-text-field {
  margin-top: 29px
}

#comment-button {
  margin-top: 9px
}