* {
  font-family: 'Raleway', Helvetica
  font-weight: 200;
}



.store-pic {
  
  height: 100%;
  width: 100%;
  background-repeat: none;
}

/*#store-slider {
  background-image: url('storefront.jpg');
  background-size: cover;
  width: 600px;
  height: 100%;
}*/


.slider-container {
  width: 100%;
  overflow: hidden;
}

.stores {
  margin: 0;
  padding: 0;
  width: 400%;
  height: inherit;
}

.stores li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.store-pic {
  width: 25%;
  height: inherit;
  float: left;
}

.radio {
display: inline-block;
padding: 14px;
}

.label {
display: inline-block;
padding-left: 14px;
font-size: 14px;
}

#welcome-hood {
  background-color: yellow;
  color: white;
}

#welcome-page {
  background: url('coffee.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#sign-in {
  background-color: transparent;
}

.welcome-nav{
  width: 100%;
  background: rgb(211,106,23);
  position: fixed;
  opacity: .7;
}

.welcome-nav h1{
  padding-left: 48px;
  color: white;
  float: left;
}

#sessions ul {
  display: inline;
  float: right;
}

#sessions li {
  color: white;
  list-style-type: none;
  display: inline;
  font-size:  26px;
  float: right;
  padding-top: 20px;
  padding-right: 24px;
}

#sessions li a {
  color: white;
}

h3 {
  color: white;
}
