.error-message {
  color: red;
  font-size: 1.5em;
}


body#welcome-page {
   background: url('coffee.jpg') no-repeat center center fixed;
   background-size: 108%;
  width: 100%;
  height: 100%;
  position: fixed;
}

* {
  font-family: 'Raleway', Helvetica;
  font-weight: 200;
}


.notice {
  color: red;
  padding-bottom: 20px;
}

#errors {
  color: red;
  padding-bottom: 20px;
}



.front-page {
  background-color: #324785;
  opacity: .9;
  margin-top: 60px;
  margin-left: 20px;
  height: 60px;
  line-height: 55px;
  width: 50%;
}

.front-page li {
  font-size: 46px;
  list-style-type: none;
  padding-top: 0px;
  color: white;
  padding-left: 15px;
  padding-top: 15px;
}

.power {
  margin-top: 360px;
  color: #2d0b02;
  background-color: #f7f2e4;
  opacity: .6;
  height: 50px;
  line-height: 50px;
  width: 45%;
  float: right;
}

.power li {
  font-size: 25px;
  list-style-type: none;
  display: inline;
  padding-top: 35px;
  padding-left: 55px;
}

.log-in {
  margin-top: 210px;
  background-color: #f7f2e4;
  color: #2d0b02;
  opacity: .6;
  margin-left: 500px;
  width: 50%;
  height: 42px;
  line-height: 55px;
}

.log-in li {
  /*margin-top: 25px;*/
}

.log-in a {
  color: #2d0b02;
  margin-top: 25px;
}


.later {
  display: block;
  margin-top: 690px;
  -webkit-transform: rotate(-11deg); 
  -moz-transform: rotate(-11deg);
  width: 65%;
  clear: both;
  margin-left: 280px;
 
}


.log-in ul {
  -webkit-transform: rotate(-11deg); 
  -moz-transform: rotate(-11deg); 
  background-color: white;
  display: inline-block;
  -webkit-transform: rotate(-11deg); 
  -moz-transform: rotate(-11deg); 
}

.log-in li {
  display: inline;
  -webkit-transform: rotate(-11deg); 
  -moz-transform: rotate(-11deg); 
  padding-left: 75px;
  padding-top: 65px;
  font-size: 40px;
}



#log-in-form {
  position: absolute;
  top: 25%;
  left: 9%;
}

#sign-in{
  background-color: #f2f2f2;
}

#sign-up-form {
  position: absolute;
  top: 20%;
  left: 9%;
}

#sign-up {
  background-color: #f2f2f2;
}


/*
.log-in li {
  display: inline-block;
  list-style-type: none;
  background-color: #f7f2e4;
  padding-left: 40px;
  font-size: 20px;
  padding-right: 100px;
  height: 35px;
  line-height: 35px;
  -webkit-transform: rotate(-11deg); 
  -moz-transform: rotate(-11deg); 
}*/


/*.sign-up {
  margin-top: 0px;
  background-color: transparent;
  color: #2d0b02;
  opacity: .75;
  margin-left: 800px;
  width: 33%;
  height: 50px;
  line-height: 50px;
}

.sign-up li {
  display: inline-block;
  list-style-type: none;
  background-color: #f7f2e4;
  padding-left: 40px;
  font-size: 20px;
  padding-right: 100px;
  height: 35px;
  line-height: 35px;
  -webkit-transform: rotate(-11deg); 
  -moz-transform: rotate(-11deg); 
}*/


 
