.nav {
  padding-left: 40px;
}

#welcome-container {
  width: 100%;
}

* {
  font-family: 'Raleway', Helvetica
  font-weight: 200;
}

.store-pic {

  height: 100%;
  width: 100%;
  background-repeat: none;
}

#store-slider {
  background-image: url('storefront.jpg');
  background-size: cover;
  padding-top: 0;
  margin-top: 0;
  width: 100%;
  height: 100%;

}

#welcome-bar {
  padding: 19px 29px 29px;
  margin: 0 auto 20px;  
  display: absolute;
  
  
}

.slider-container {

  width: 100%;
  overflow: hidden;
}

.stores {
  margin: 0;
  padding: 0;
  width: 400%;
  height: inherit;
}

.stores li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.store-pic {
  width: 25%;
  height: inherit;
  float: left;
}

.radio {
display: inline-block;
padding: 14px;
}

.label {
display: inline-block;
padding-left: 14px;
font-size: 14px;
}

.notice {
  color: red;
  padding-bottom: 20px;
}

#errors {
  color: red;
  padding-bottom: 20px;
}

/*#welcome-hood {
  background: url('storefront.jpg')
  background-color: yellow;
  color: white;
}*/

/*#welcome-page {
  background: url('storefront.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

/*#sign-in {
  background-color: transparent;
}
*/
#welcome-nav {
  width: 100%;
  height: 60px;
}


#welcome-tagline {
  color: white;
}

h1 {
  color: #f7f2e4;
  font-size: 80px;
  padding-top: 60px;
  float; left
}

.nav{
  float: right;
}

.front-page {
  background-color: #324785;
  opacity: .9;
  margin-top: 85px;
  margin-left: 20px;
  height: 60px;
  line-height: 55px;
  width: 50%;
}

.front-page li {
  font-size: 46px;
  list-style-type: none;
  padding-top: 0px;
  color: white;
  padding-left: 15px;
  padding-top: 15px;
}

.power {
  margin-top: 200px;
  color: #2d0b02;
  background-color: #f7f2e4;
  opacity: .75;
  height: 50px;
  line-height: 50px;
}

.power li {
  font-size: 20px;
  list-style-type: none;
  display: inline;
  padding-right: 20px;
  padding-top: 35px;
}

.log-in {
  margin-top: 179px;
  background-color: white;
  color: #2d0b02;
  opacity: .75;
  margin-left: 500px;
  width: 50%;
  height: 50px;
  line-height: 50px;

}


.later {
  display: block;
  margin-top: 250px;
  -webkit-transform: rotate(-11deg); 
  -moz-transform: rotate(-11deg);
  width: 50%;
}

.log-in ul {
  -webkit-transform: rotate(-11deg); 
  -moz-transform: rotate(-11deg); 
  background-color: white;
  display: inline-block;
  -webkit-transform: rotate(-11deg); 
  -moz-transform: rotate(-11deg); 
}

.log-in li {
  display: inline;
  -webkit-transform: rotate(-11deg); 
  -moz-transform: rotate(-11deg); 
  padding-left: 75px;
}

#log-in-form {
  
}

#sign-up-form {
}
/*
.log-in li {
  display: inline-block;
  list-style-type: none;
  background-color: #f7f2e4;
  padding-left: 40px;
  font-size: 20px;
  padding-right: 100px;
  height: 35px;
  line-height: 35px;
  -webkit-transform: rotate(-11deg); 
  -moz-transform: rotate(-11deg); 
}*/


/*.sign-up {
  margin-top: 0px;
  background-color: transparent;
  color: #2d0b02;
  opacity: .75;
  margin-left: 800px;
  width: 33%;
  height: 50px;
  line-height: 50px;
}

.sign-up li {
  display: inline-block;
  list-style-type: none;
  background-color: #f7f2e4;
  padding-left: 40px;
  font-size: 20px;
  padding-right: 100px;
  height: 35px;
  line-height: 35px;
  -webkit-transform: rotate(-11deg); 
  -moz-transform: rotate(-11deg); 
}*/


 