<ul class="breadcrumb">
  <li><a href="#">USA</a> <span class="divider">/</span></li>
  <li><a href="#">California</a> <span class="divider">/</span></li>
  <li><a href="#">SF</a> <span class="divider">/</span></li>
  <li class="active"><%= @hood.name %></li>
</ul>